In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/Users/gabriel/myprojects/treinandoanalisedados/date/bank_full.csv', sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [5]:
df['marital'].value_counts(normalize=True)

married     0.601933
single      0.282896
divorced    0.115171
Name: marital, dtype: float64

In [19]:
#qual a porcentagem de divorciados empreendedores
df[(df['marital'] == 'divorced') & (df['job'] == 'entrepreneur')]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,unknown,5,may,300,1,-1,0,unknown,no
256,59,entrepreneur,divorced,secondary,no,901,yes,no,unknown,5,may,73,3,-1,0,unknown,no
273,56,entrepreneur,divorced,secondary,no,155,no,no,unknown,5,may,118,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42443,38,entrepreneur,divorced,secondary,no,1190,yes,no,cellular,7,dec,347,4,186,5,success,no
42597,50,entrepreneur,divorced,tertiary,no,315,no,no,cellular,8,jan,249,1,119,1,failure,no
43445,51,entrepreneur,divorced,tertiary,no,2109,no,no,cellular,12,apr,119,1,181,2,success,no
44130,50,entrepreneur,divorced,tertiary,no,315,no,no,cellular,12,jul,101,2,185,2,failure,no
44969,51,entrepreneur,divorced,tertiary,no,315,no,no,cellular,11,oct,291,1,91,4,failure,no

In [21]:
divorciados= df[(df['marital'] == 'divorced')]
empreendedores_divorciados = divorciados[(divorciados['job'] == 'entrepreneur')]
porcentagem_empreendedores_divorciados = (len(empreendedores_divorciados) / len(divorciados)) * 100
print(f" Divorciados e empreendedores: {porcentagem_empreendedores_divorciados:.2f}%")

 Divorciados e empreendedores: 3.44%

In [22]:
estudantes_divorciados = divorciados[(divorciados['job'] == 'student')]
porcentagem_estudantes_divorciados = (len(estudantes_divorciados) / len(divorciados)) * 100
print(f" Estudantes e divorciados: {porcentagem_estudantes_divorciados:.2f}%")

 Estudantes e divorciados: 0.12%

In [62]:
df['balance_bins'] = pd.qcut(df['balance'], q=[0.8, 0.9, 1], labels=['gold', 'premium'])
df['balance_bins'].value_counts()

gold       4528
premium    4521
Name: balance_bins, dtype: int64

In [51]:
df.loc[df['balance_bins'] == 'gold']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,balance_bins
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,gold
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,1,-1,0,unknown,no,gold
74,43,technician,married,secondary,no,1937,yes,no,unknown,5,may,181,1,-1,0,unknown,no,gold
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,gold
129,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45172,30,technician,single,tertiary,no,2325,no,no,cellular,10,nov,134,1,92,8,success,no,gold
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes,gold
45180,66,retired,married,secondary,no,3409,no,no,cellular,15,nov,414,2,27,6,failure,no,gold
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes,gold
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no,gold

In [52]:
df.loc[df['balance_bins'] == 'premium']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,balance_bins
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,1,-1,0,unknown,no,premium
65,51,management,married,tertiary,no,6530,yes,no,unknown,5,may,91,1,-1,0,unknown,no,premium
69,35,blue-collar,single,secondary,no,12223,yes,yes,unknown,5,may,177,1,-1,0,unknown,no,premium
70,57,blue-collar,married,secondary,no,5935,yes,yes,unknown,5,may,258,1,-1,0,unknown,no,premium
186,40,services,divorced,unknown,no,4384,yes,no,unknown,5,may,315,1,-1,0,unknown,no,premium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45164,35,services,married,tertiary,no,4655,no,no,cellular,9,nov,111,2,-1,0,unknown,no,premium
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no,premium
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes,premium
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes,premium
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes,premium

In [85]:
# Verifique como a tabela cruzada da populaÃ§Ã£o se diferencia do grupo Premium
df.groupby(['balance_bins', 'marital']).size().unstack()

marital       divorced  married  single
balance_bins
gold               493     2835    1200
premium            437     2886    1198

In [69]:
# Verifique como a tabela cruzada da populaÃ§Ã£o se diferencia do grupo Premium
df.pivot_table(index='balance_bins', columns=['marital'], aggfunc='size')

marital       divorced  married  single
balance_bins
gold               493     2835    1200
premium            437     2886    1198

In [81]:
print(len(df[df['marital'] == 'divorced']))
print(len(df[df['marital'] == 'married']))
print(len(df[df['marital'] == 'single']))
print(len(df['marital']))

5207
27214
12790
45211

In [95]:
#CLientes com os 10 maiores saldos
balance_10 = df.sort_values(by='balance', ascending=False).head(10)
balance_10

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,balance_bins
39989,51,management,single,tertiary,no,102127,no,no,cellular,3,jun,90,1,-1,0,unknown,no,premium
26227,59,management,married,tertiary,no,98417,no,no,telephone,20,nov,145,5,-1,0,unknown,no,premium
43393,84,retired,married,secondary,no,81204,no,no,telephone,1,apr,390,1,94,3,success,yes,premium
42558,84,retired,married,secondary,no,81204,no,no,telephone,28,dec,679,1,313,2,other,yes,premium
41693,60,retired,married,primary,no,71188,no,no,cellular,6,oct,205,1,-1,0,unknown,no,premium
19785,56,management,divorced,tertiary,no,66721,no,no,cellular,8,aug,442,2,-1,0,unknown,no,premium
21192,52,blue-collar,married,primary,no,66653,no,no,cellular,14,aug,109,3,-1,0,unknown,no,premium
19420,59,admin.,married,unknown,no,64343,no,no,cellular,6,aug,45,4,-1,0,unknown,no,premium
41374,32,entrepreneur,single,tertiary,no,59649,no,no,cellular,1,sep,69,2,-1,0,unknown,no,premium
12926,56,blue-collar,married,secondary,no,58932,no,no,telephone,7,jul,339,2,-1,0,unknown,no,premium

In [99]:
#Clientes com os 10 menores saldos
balance_menos_10 = df['balance'].nsmallest(10).unique()
balance_menos_10

array([-8019, -6847, -4057, -3372, -3313, -3058, -2827, -2712, -2604,
       -2282])

In [90]:
columns_show = ['age', 'job', 'marital', 'education', 'default', 'loan', 'duration']
more_10 = balance_10[columns_show]
more_10

       age           job   marital  education default loan  duration
39989   51    management    single   tertiary      no   no        90
26227   59    management   married   tertiary      no   no       145
43393   84       retired   married  secondary      no   no       390
42558   84       retired   married  secondary      no   no       679
41693   60       retired   married    primary      no   no       205
19785   56    management  divorced   tertiary      no   no       442
21192   52   blue-collar   married    primary      no   no       109
19420   59        admin.   married    unknown      no   no        45
41374   32  entrepreneur    single   tertiary      no   no        69
12926   56   blue-collar   married  secondary      no   no       339

In [92]:
def highlight_max_min(s):
    is_max = s == s.max()
    is_min = s == s.min()
    return ['color: yellow' if v_max else 'color:red' if v_min else '' for v_max, v_min in zip(is_max, is_min)]

more_10.style.apply(highlight_max_min, subset=['duration'])