In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [36]:
df = pd.read_csv("/Users/gabriel/myprojects/treinandoanalisedados/date/dataCorinthians/A - Jogos.csv", quotechar='"', thousands='.', decimal=',')
print(df.head())

   JOGO RESULTADO  CORINTHIANS  GOL COR  GOL VIS      VISITANTE  \
0     1         D  CORINTHIANS        0        1    FIGUEIRENSE
1     2         E  CORINTHIANS        1        1       BOTAFOGO
2     3         V  CORINTHIANS        2        1  INTERNACIONAL
3     4         V  CORINTHIANS        3        0          BAHIA
4     5         V  CORINTHIANS        2        0      PALMEIRAS

  CIDADE - VISITANTE  UF PAIS  DIA  MES  ANO   HORA DIA-SEMANA  \
0      FLORIANÓPOLIS  SC  BRA   18    5   14  16:00        DOM
1     RIO DE JANEIRO  RJ  BRA    1    6   14  16:00        DOM
2       PORTO ALEGRE  RS  BRA   17    7   14  19:30        QUI
3           SALVADOR  BA  BRA   23    7   14  22:00        QUA
4          SÃO PAULO  SP  BRA   27    7   14  16:00        DOM

       CAMPEONATO CAPITÃO       TÉCNICO TÉCNICO - VISITANTE  PUBLICO  \
0      BRASILEIRO    RALF  MANO MENEZES       GUTO FERREIRA    36123
1      BRASILEIRO    RALF  MANO MENEZES      VAGNER MANCINI    37119
2      BRASILEIRO    RALF  MANO MENEZES          ABEL BRAGA    32644
3  COPA DO BRASIL    RALF  MANO MENEZES   MARQUINHOS SANTOS    24252
4      BRASILEIRO    RALF  MANO MENEZES      RICARDO GARECA    31031

       RENDA  CAMISA SAÍDA DE JOGO 1 TEMPO 2 TEMPO  \
0  3029801.7       1   CORINTHIANS     SUL   NORTE
1  2616819.5       1   CORINTHIANS     SUL   NORTE
2  2556385.5       1     VISITANTE   NORTE     SUL
3  1389973.5       1     VISITANTE   NORTE     SUL
4  2206184.0       1     VISITANTE   NORTE     SUL

                           ARTILHEIROS ARTILHEIROS - VISITANTE  NUM-GOLS  \
0                                    X      1 Giovanni Augusto         1
1                             1 Jadson               1 Edilson         2
2                 1 Guerrero, 1 Fagner         1 Cláudio Winck         3
3  1 Elias, 1 Romero, 1 Renato Augusto                       X         3
4                 1 Guerrero, 1 Petros                       X         2

  PRIMEIRO GOL  GOL-SUL  GOL-NORTE  GOL VIS-SUL  GOL VIS-NORTE  GOL-1T  \
0    VISITANTE        0          0            0              1       0
1  CORINTHIANS        0          1            0              1       1
2  CORINTHIANS        2          0            1              0       2
3  CORINTHIANS        2          1            0              0       2
4  CORINTHIANS        0          2            0              0       0

   GOL-2T  GOL VIS-1T  GOL VIS-2T                    ÁRBITRO UF-ÁRBITRO  VAR
0       0           0           1  JAILSON MACEDO DE FREITAS         BA  NÃO
1       0           0           1       LEANDRO PEDRO VUADEN         RS  NÃO
2       0           0           1               WAGNER REWAY         MT  NÃO
3       1           0           0      IGOR JUNIO BENEVENUTO         MG  NÃO
4       2           0           0         SANDRO MEIRA RICCI         PE  NÃO

In [38]:
df.head()

,JOGO,RESULTADO,CORINTHIANS,GOL COR,GOL VIS,VISITANTE,CIDADE - VISITANTE,UF,PAIS,DIA,MES,ANO,HORA,DIA-SEMANA,CAMPEONATO,CAPITÃO,TÉCNICO,TÉCNICO - VISITANTE,PUBLICO,RENDA,CAMISA,SAÍDA DE JOGO,1 TEMPO,2 TEMPO,ARTILHEIROS,ARTILHEIROS - VISITANTE,NUM-GOLS,PRIMEIRO GOL,GOL-SUL,GOL-NORTE,GOL VIS-SUL,GOL VIS-NORTE,GOL-1T,GOL-2T,GOL VIS-1T,GOL VIS-2T,ÁRBITRO,UF-ÁRBITRO,VAR
0,1,D,CORINTHIANS,0,1,FIGUEIRENSE,FLORIANÓPOLIS,SC,BRA,18,5,14,16:00,DOM,BRASILEIRO,RALF,MANO MENEZES,GUTO FERREIRA,36123,3029801.7,1,CORINTHIANS,SUL,NORTE,X,1 Giovanni Augusto,1,VISITANTE,0,0,0,1,0,0,0,1,JAILSON MACEDO DE FREITAS,BA,NÃO
1,2,E,CORINTHIANS,1,1,BOTAFOGO,RIO DE JANEIRO,RJ,BRA,1,6,14,16:00,DOM,BRASILEIRO,RALF,MANO MENEZES,VAGNER MANCINI,37119,2616819.5,1,CORINTHIANS,SUL,NORTE,1 Jadson,1 Edilson,2,CORINTHIANS,0,1,0,1,1,0,0,1,LEANDRO PEDRO VUADEN,RS,NÃO
2,3,V,CORINTHIANS,2,1,INTERNACIONAL,PORTO ALEGRE,RS,BRA,17,7,14,19:30,QUI,BRASILEIRO,RALF,MANO MENEZES,ABEL BRAGA,32644,2556385.5,1,VISITANTE,NORTE,SUL,"1 Guerrero, 1 Fagner",1 Cláudio Winck,3,CORINTHIANS,2,0,1,0,2,0,0,1,WAGNER REWAY,MT,NÃO
3,4,V,CORINTHIANS,3,0,BAHIA,SALVADOR,BA,BRA,23,7,14,22:00,QUA,COPA DO BRASIL,RALF,MANO MENEZES,MARQUINHOS SANTOS,24252,1389973.5,1,VISITANTE,NORTE,SUL,"1 Elias, 1 Romero, 1 Renato Augusto",X,3,CORINTHIANS,2,1,0,0,2,1,0,0,IGOR JUNIO BENEVENUTO,MG,NÃO
4,5,V,CORINTHIANS,2,0,PALMEIRAS,SÃO PAULO,SP,BRA,27,7,14,16:00,DOM,BRASILEIRO,RALF,MANO MENEZES,RICARDO GARECA,31031,2206184.0,1,VISITANTE,NORTE,SUL,"1 Guerrero, 1 Petros",X,2,CORINTHIANS,0,2,0,0,0,2,0,0,SANDRO MEIRA RICCI,PE,NÃO

In [43]:
df.dropna(inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   JOGO                     321 non-null    int64
 1   RESULTADO                321 non-null    object
 2   CORINTHIANS              321 non-null    object
 3   GOL COR                  321 non-null    int64
 4   GOL VIS                  321 non-null    int64
 5   VISITANTE                321 non-null    object
 6   CIDADE - VISITANTE       321 non-null    object
 7   UF                       321 non-null    object
 8   PAIS                     321 non-null    object
 9   DIA                      321 non-null    int64
 10  MES                      321 non-null    int64
 11  ANO                      321 non-null    int64
 12  HORA                     321 non-null    object
 13  DIA-SEMANA               321 non-null    object
 14  CAMPEONATO               321 non-null    object
 15  CAPITÃO                  321 non-null    object
 16  TÉCNICO                  321 non-null    object
 17  TÉCNICO - VISITANTE      321 non-null    object
 18  PUBLICO                  321 non-null    int64
 19  RENDA                    321 non-null    float64
 20  CAMISA                   321 non-null    int64
 21  SAÍDA DE JOGO            321 non-null    object
 22  1 TEMPO                  321 non-null    object
 23  2 TEMPO                  321 non-null    object
 24  ARTILHEIROS              321 non-null    object
 25  ARTILHEIROS - VISITANTE  321 non-null    object
 26  NUM-GOLS                 321 non-null    int64
 27  PRIMEIRO GOL             321 non-null    object
 28  GOL-SUL                  321 non-null    int64
 29  GOL-NORTE                321 non-null    int64
 30  GOL VIS-SUL              321 non-null    int64
 31  GOL VIS-NORTE            321 non-null    int64
 32  GOL-1T                   321 non-null    int64
 33  GOL-2T                   321 non-null    int64
 34  GOL VIS-1T               321 non-null    int64
 35  GOL VIS-2T               321 non-null    int64
 36  ÁRBITRO                  321 non-null    object
 37  UF-ÁRBITRO               321 non-null    object
 38  VAR                      321 non-null    object
dtypes: float64(1), int64(17), object(21)
memory usage: 97.9+ KB

In [47]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
JOGO,321.0,1.610000e+02,9.280894e+01,1.0,81.00,161.00,241.00,321.0
GOL COR,321.0,1.579439e+00,1.188781e+00,0.0,1.00,1.00,2.00,6.0
GOL VIS,321.0,7.320872e-01,8.196026e-01,0.0,0.00,1.00,1.00,5.0
DIA,321.0,1.579439e+01,8.874548e+00,1.0,9.00,16.00,23.00,31.0
MES,321.0,6.373832e+00,3.040940e+00,1.0,4.00,7.00,9.00,12.0
ANO,321.0,1.866978e+01,2.763036e+00,14.0,16.00,19.00,21.00,23.0
PUBLICO,321.0,2.894790e+04,1.421037e+04,0.0,23903.00,32877.00,39897.00,46517.0
RENDA,321.0,1.674300e+06,1.049293e+06,0.0,966124.74,1671129.76,2424755.11,5386291.5
CAMISA,321.0,1.068536e+00,3.186505e-01,1.0,1.00,1.00,1.00,3.0
NUM-GOLS,321.0,2.311526e+00,1.462924e+00,0.0,1.00,2.00,3.00,8.0
GOL-SUL,321.0,7.725857e-01,8.185329e-01,0.0,0.00,1.00,1.00,4.0
GOL-NORTE,321.0,8.068536e-01,8.768283e-01,0.0,0.00,1.00,1.00,4.0
GOL VIS-SUL,321.0,3.831776e-01,6.069111e-01,0.0,0.00,0.00,1.00,4.0
GOL VIS-NORTE,321.0,3.520249e-01,5.788490e-01,0.0,0.00,0.00,1.00,3.0
GOL-1T,321.0,6.822430e-01,7.897563e-01,0.0,0.00,1.00,1.00,4.0
GOL-2T,321.0,8.909657e-01,8.894939e-01,0.0,0.00,1.00,1.00,4.0
GOL VIS-1T,321.0,3.551402e-01,5.742224e-01,0.0,0.00,0.00,1.00,3.0
GOL VIS-2T,321.0,3.800623e-01,6.063013e-01,0.0,0.00,0.00,1.00,4.0

In [50]:
df[df.duplicated()]

Empty DataFrame
Columns: [JOGO, RESULTADO, CORINTHIANS, GOL COR, GOL VIS, VISITANTE, CIDADE - VISITANTE, UF, PAIS, DIA, MES, ANO, HORA, DIA-SEMANA, CAMPEONATO, CAPITÃO, TÉCNICO, TÉCNICO - VISITANTE, PUBLICO, RENDA, CAMISA, SAÍDA DE JOGO, 1 TEMPO, 2 TEMPO, ARTILHEIROS, ARTILHEIROS - VISITANTE, NUM-GOLS, PRIMEIRO GOL, GOL-SUL, GOL-NORTE, GOL VIS-SUL, GOL VIS-NORTE, GOL-1T, GOL-2T, GOL VIS-1T, GOL VIS-2T, ÁRBITRO, UF-ÁRBITRO, VAR]
Index: []

In [53]:
df.isnull().all()

JOGO                       False
RESULTADO                  False
CORINTHIANS                False
GOL COR                    False
GOL VIS                    False
VISITANTE                  False
CIDADE - VISITANTE         False
UF                         False
PAIS                       False
DIA                        False
MES                        False
ANO                        False
HORA                       False
DIA-SEMANA                 False
CAMPEONATO                 False
CAPITÃO                    False
TÉCNICO                    False
TÉCNICO - VISITANTE        False
PUBLICO                    False
RENDA                      False
CAMISA                     False
SAÍDA DE JOGO              False
1 TEMPO                    False
2 TEMPO                    False
ARTILHEIROS                False
ARTILHEIROS - VISITANTE    False
NUM-GOLS                   False
PRIMEIRO GOL               False
GOL-SUL                    False
GOL-NORTE                  False
GOL VIS-SUL                False
GOL VIS-NORTE              False
GOL-1T                     False
GOL-2T                     False
GOL VIS-1T                 False
GOL VIS-2T                 False
ÁRBITRO                    False
UF-ÁRBITRO                 False
VAR                        False
dtype: bool

In [55]:
series_has_null = df.isnull().any()
series_has_null[series_has_null == True].keys()

Index([], dtype='object')

In [57]:
list_col_with_null = list(series_has_null[series_has_null == True].keys())
df[list_col_with_null].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Empty DataFrame

In [68]:
#Quantidades de jogos por ano 
df['JOGO'].groupby(df['VISITANTE']).count()

VISITANTE
ALWAYS READY          1
AMÉRICA (MG)          6
ARGENTINOS JUNIORS    1
ATHLETICO             8
ATLÉTICO (GO)         6
                     ..
UNIVERSITARIO         1
VASCO DA GAMA         6
VITÓRIA               4
XV DE PIRACICABA      1
ÁGUA SANTA            1
Name: JOGO, Length: 88, dtype: int64